$theme-color: #8440f1;
// $theme-color-light: rgba(132, 64, 241, 0.8);
$theme-color-light: #ae81ff;
$minor-color: rgb(197, 177, 249);

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem;
}

.searchArea {
  width: 38%;
  display: flex;
  align-items: center;
  margin: 3rem 1rem;
  border: 1px solid $theme-color-light;
  border-radius: 50px;

  .input {
    all: unset;
    padding: 1rem 0 1rem 1.5rem;
    width: 80%;
    font-size: 20px;
    height: auto;
    // border-radius: 5px 0 0 5px;
  }

  .imgWrapper {
    // background-color: $theme-color-light;

    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
  }
}
