@charset "UTF-8";
.fontSizeNormal {
  font-size: 1.2rem;
}
@media (max-width: 1366px) {
  .fontSizeNormal {
    font-size: 1rem;
  }
}

.main__flexContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}
.main__flexContainer .main__flexItem {
  width: 100%;
  max-width: 1150px;
}

.main__innerFlexItem {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .main__innerFlexItem {
    flex-wrap: wrap;
  }
}
.main__innerFlexItem .innerFlexItem__posterWrapper {
  margin-top: 2%;
}
@media (max-width: 800px) {
  .main__innerFlexItem .innerFlexItem__posterWrapper {
    margin-bottom: 2%;
  }
}
.main__innerFlexItem .innerFlexItem__movieBio {
  width: 100%;
  max-width: 800px;
  margin-left: 2%;
}
.main__innerFlexItem .innerFlexItem__movieBio > * {
  margin: 2%;
}
@media (max-width: 600px) {
  .main__innerFlexItem .innerFlexItem__movieBio > * {
    margin: 3%;
  }
}
.main__innerFlexItem .innerFlexItem__movieBio .movieBio__titleArea {
  display: flex;
  justify-content: space-between;
}
.main__innerFlexItem .innerFlexItem__movieBio .movieBio__titleArea .movieBio__titleArea__titles > * {
  margin-bottom: 0.25%;
}
.main__innerFlexItem .innerFlexItem__movieBio .movieBio__titleArea .movieBio__titleArea__titles .movieBio__titleArea__title {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .main__innerFlexItem .innerFlexItem__movieBio .movieBio__titleArea .movieBio__titleArea__titles .movieBio__titleArea__title {
    font-size: 1.5rem;
  }
}
.main__innerFlexItem .movieBio__detailArea {
  display: flex;
}
.main__innerFlexItem .movieBio__detailArea > * {
  margin-right: 2.25%;
}
@media (max-width: 800px) {
  .main__innerFlexItem .movieBio__detailArea > * {
    margin-right: 2.5%;
  }
}
.main__innerFlexItem .movieBio__overviewArea {
  line-height: 2.25rem;
  font-size: 1.25rem;
}
@media (max-width: 1366px) {
  .main__innerFlexItem .movieBio__overviewArea {
    line-height: 1.8rem;
    font-size: 1.05rem;
  }
}
.main__innerFlexItem .movieBio__overviewArea > * {
  margin-bottom: 2%;
}
.main__innerFlexItem .movieBio__overviewArea .movieBio__overviewArea__tagline {
  font-weight: 600;
}
.main__innerFlexItem .movieBio__overviewArea .movieBio__overviewArea__overview {
  font-weight: 325;
}
.main__innerFlexItem .movieBio__overviewArea .movieBio__overviewArea__noOverview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  font-size: 1.6rem;
  font-weight: 500;
}
@media (max-width: 1366px) {
  .main__innerFlexItem .movieBio__overviewArea .movieBio__overviewArea__noOverview {
    font-size: 1.25rem;
  }
}
.main__innerFlexItem .movieBio__otherMovieDBarea > *,
.main__innerFlexItem .movieBio__OTTarea > * {
  margin-right: 1.5%;
}
@media (max-width: 600px) {
  .main__innerFlexItem .movieBio__otherMovieDBarea > *,
  .main__innerFlexItem .movieBio__OTTarea > * {
    line-height: 1.6rem;
  }
}
.main__innerFlexItem .movieBio__otherMovieDBarea .movieBio__linkToExternal__label,
.main__innerFlexItem .movieBio__OTTarea .movieBio__linkToExternal__label {
  color: #8440f1;
  font-weight: 450;
}
.main__innerFlexItem .movieBio__otherMovieDBarea .movieBio__linkToExternal__link,
.main__innerFlexItem .movieBio__OTTarea .movieBio__linkToExternal__link {
  background-color: #ae81ff;
  color: white;
  padding: 0.15rem 0.3rem;
}
.main__innerFlexItem .movieBio__otherMovieDBarea .movieBio__linkToExternal__link:hover,
.main__innerFlexItem .movieBio__OTTarea .movieBio__linkToExternal__link:hover {
  opacity: 0.9;
}

.movieBio__detailArea__trailerArea {
  display: flex;
  align-items: center;
  color: #8440f1;
}
.movieBio__detailArea__trailerArea:hover {
  opacity: 0.8;
}
.movieBio__detailArea__trailerArea .movieBio__detailArea__trailerArea__imgWrapper {
  display: flex;
  margin-right: 5px;
}

.bookmark__imgWapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #8440f1;
  position: relative;
}
.bookmark__imgWapper > * {
  margin-right: 10%;
}
.bookmark__imgWapper:hover {
  opacity: 0.8;
}
.bookmark__imgWapper.disabled {
  cursor: not-allowed;
  /* 將 pointer-events 移至 img 和文字 div 上，使 tooltip 顯示但無法點擊 */
}
.bookmark__imgWapper.disabled > img,
.bookmark__imgWapper.disabled > div {
  pointer-events: none;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  top: 130%; /* 100%即顯示在元素的下方 */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.bookmark__imgWapper:hover .tooltip {
  opacity: 1;
}/*# sourceMappingURL=movieMain.module.css.map */