$theme-color: #8440f1;
$theme-color-light: #ae81ff;
$minor-color: rgb(197, 177, 249);
$theme-color-background: rgba(197, 177, 249, 0.2);

.mainWrapper {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;

  .main {
    width: 100%;
    max-width: 1150px;
    // flex: 1; // 讓 main 填滿剩餘空間
    // min-height: calc(100vh - $footer-height);

    .searchResultSummary {
      margin-bottom: 1.5rem;
      // border: 1px solid black;
    }

    .keyword {
      text-decoration: underline $theme-color;
      text-underline-offset: 7px; /* 調整此值來改變底線與文字的距離 */
    }
  }
}

.eachMovieDiv {
  margin: 1rem 0;
  display: flex;
  // border: 1px solid red;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;

  .eachMovieDetailDiv {
    margin: 0 1rem;
    padding: 0.5rem 0;
    // border: 1px solid black;

    > * {
      margin-bottom: 20px; // 設定每個子元素的下方距離
    }

    .eachMovieDetailDiv__title:hover {
      opacity: 0.6;
    }
  }
}

.pageButtonsArea {
  display: flex;
  justify-content: center;
  // align-items: center;
  // border: 1px solid black;

  > * {
    cursor: pointer;
    margin: 0.3em;
    padding: 0.5em;
    border: 1px solid #ddd;
    font-size: 14px;
    // background-color: rgba(179, 118, 66, 0.7);
    // color: white;
  }
}
