$theme-color: #8440f1;
$theme-color-light: #ae81ff;
$minor-color: rgb(197, 177, 249);
$theme-color-background: rgba(197, 177, 249, 0.2);

.main__flexContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.2rem;

  .main__flexItem {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;

    .main__flexItem__h3 {
      font-size: 1.6rem;
      font-weight: 500;

      @media (max-width: 1366px) {
        font-size: 1.2rem;
      }
    }
  }
}

.searchResultSummary {
  width: 100%;
  margin-bottom: 1rem;
}

.keyword {
  text-decoration: underline $theme-color;
  text-underline-offset: 7px; /* 改變底線與文字的距離 */
}

.eachMovieArea {
  width: 100%;

  .eachMovieDiv {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;

    .eachMovieDetailDiv {
      width: 100%;
      margin: 0 1.25rem;
      padding: 0.5rem 0;

      @media (max-width: 1366px) {
        margin: 0 1rem;
      }

      // 設定每個子元素的下方距離
      > * {
        margin-bottom: 1.25rem;
      }

      .eachMovieDetailDiv__title:hover {
        opacity: 0.6;
      }
    }
  }
}

.pageButtonsArea {
  width: 100%;

  .pageButtons {
    width: 100%;
    display: flex;
    justify-content: center;

    > * {
      display: flex;
      cursor: pointer;
      margin: 0.3rem;
      padding: 0.4rem 0.5rem;
      border: 1px solid #ddd;
      font-size: 1rem;

      @media (max-width: 500px) {
        margin: 0.15rem;
        padding: 0.2rem;
      }
    }
  }
}
