$theme-color: #8440f1;
$theme-color-light: #ae81ff;
$minor-color: rgb(197, 177, 249);
$minor-color-background: rgba(197, 177, 249, 0.1);

.listsContainerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  margin-top: 1.25rem;

  .listsContainer {
    display: flex;
    overflow-x: auto;
    width: 100%;
    max-width: 1600px;
    // 上行越寬，大螢幕就能排下更多片單
    margin-top: 0.8rem;

    // 適用於Firefox
    scrollbar-width: thin;
    scrollbar-color: $minor-color #f1f1f1;

    @media (max-width: 1366px) {
      margin-top: 0;
    }
  }
}

// 單一片單分享頁的片單container
.sharelistContainer {
  display: flex;
  overflow-x: auto;
  width: 100%;
  justify-content: center;

  // 適用於Firefox
  scrollbar-width: thin;
  scrollbar-color: $minor-color #f1f1f1;
}

.listContainer {
  width: 100%;
  width: 350px;
  flex-shrink: 0;
  // 重要!上行可避免父層flex-box自動壓縮這層flex-item
  border-radius: 5px;
  background-color: $minor-color-background;
  padding: 2rem 1.5rem;
  border: 1px solid $minor-color;
  margin: 0 0.3rem;
  min-height: 300px;

  @media (max-width: 1366px) {
    width: 280px;
    min-height: 225px;
    padding: 1.5rem 1rem;
    margin: 0 0.2rem;
  }

  .listContainer__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;

    @media (max-width: 1366px) {
      margin-bottom: 1.25rem;
    }

    .listContainer__header__title {
      width: 100%;
      text-align: center;
      color: $theme-color;
      cursor: pointer;
      font-size: 1.9rem;
      font-weight: 550;

      @media (max-width: 1366px) {
        font-size: 1.5rem;
      }
    }

    .listContainer__header__title__noneditable {
      width: 100%;
      text-align: center;
      color: $theme-color;
      font-size: 1.9rem;
      font-weight: 550;

      @media (max-width: 1366px) {
        font-size: 1.5rem;
      }
    }

    .listContainer__header__title__editing {
      width: 100%;
      padding: 0.5rem 0;
      font-size: 1.8rem;
      color: $theme-color;
      font-weight: 500;
      text-align: center;
      border: none;
      box-shadow: none; /* 移除陰影 */
      // background: none; /* 移除背景，目測為白底 */

      @media (max-width: 1366px) {
        font-size: 1.4rem;
      }

      &:focus {
        outline: 2px solid $theme-color-light; /* 設置點擊時的外框 */
        border-radius: 5px;
        outline-offset: 1px; /* 外框與輸入框的距離 */
      }
    }

    .listContainer__header__ellipsis__root {
      position: relative;

      .listContainer__header__ellipsisIcon {
        opacity: 0;
        transition: opacity 0.2s;
        display: flex;
        cursor: pointer;

        @media (max-width: 768px) {
          opacity: 1;
        }

        &:hover {
          opacity: 1;
        }

        &.visible {
          opacity: 1; // 當 modal 開啟時，強制將 icon 設為可見
        }
      }

      .listContainer__header__ellipsisModal {
        width: 120px;
        background-color: white;
        position: absolute;
        top: 200%;
        right: 0;
        border-radius: 5px;
        border: 1px solid $minor-color;

        @media (max-width: 1366px) {
          width: 90px;
        }

        .listContainer__header__ellipsisModalItem {
          text-align: center;
          padding: 0.5rem 0.1rem;
          cursor: pointer;
          font-size: 1.3rem;

          &:hover {
            color: white;
            background-color: $theme-color-light;
          }

          @media (max-width: 1366px) {
            padding: 0.4rem 0.1rem;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .movieItem {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.9rem 1rem;
    padding-left: 1.5rem;
    background-color: white;
    border: 1px solid $minor-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1366px) {
      padding: 0.7rem 0.5rem;
      padding-left: 1rem;
    }

    .movieItem__details {
      display: flex;
      align-items: center;

      .movieItem__details__serialNumber {
        background-color: white;
        color: $theme-color;
        border-radius: 50px;
        font-size: 1.4rem;

        @media (max-width: 1366px) {
          font-size: 1rem;
          margin-left: 0.2rem;
        }
      }

      .movieItem__details__title {
        margin-left: 1.2rem;
        font-size: 1.4rem;

        &:hover {
          font-weight: 450;
          color: $theme-color;
        }

        @media (max-width: 1366px) {
          margin-left: 1rem;
          font-size: 1.05rem;
        }
      }
    }

    .movieItem__delete {
      opacity: 0;
      margin-left: 0.5rem;
      display: flex;

      @media (max-width: 768px) {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
        cursor: pointer;
        background-color: $minor-color-background;
      }
    }
  }
}

.shareAllListsBtnContainer {
  position: relative;

  .shareAllListsBtn {
    margin-top: 3rem;
    border: 1.5px solid $theme-color;
    border-radius: 3px;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    font-size: 1.4rem;

    &:hover {
      color: $theme-color;
      font-weight: 550;
    }

    @media (max-width: 1366px) {
      margin-top: 2rem;
      padding: 0.4rem 0.8rem;
      font-size: 1rem;
    }
  }
}

.notification {
  // letter-spacing: 0.2rem;
  position: fixed;
  background-color: $theme-color-light;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  top: 12%;
  left: 48%;
  transform: translateX(-48%); /* 水平位移讓元素居中 */
  margin-left: 1.25rem;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
  text-align: center;

  @media (max-width: 1366px) {
    font-size: 1rem;
    top: 16%;
  }
}

.error {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  top: 12%;
  left: 48%;
  transform: translateX(-48%); /* 水平位移讓元素居中 */
  margin-left: 1.25rem;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
  text-align: center;

  @media (max-width: 1366px) {
    font-size: 1rem;
    top: 16%;
  }
}

.MovieItemDroppable {
  height: 80%;
}

.addNewlistArea {
  margin: 0 0.35rem;
  width: 100%;
  width: 350px;
  flex-shrink: 0;
  // 注意！加上上行才會跑版
  position: relative;
  min-height: 300px;

  @media (max-width: 1366px) {
    width: 280px;
    margin: 0 0.25rem;
    min-height: 225px;
  }

  .addNewlistArea__Img {
    background-color: $minor-color-background;
    padding: 0.2rem;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      background-color: rgba(197, 177, 249, 0.3);
    }
  }

  .addNewlistArea__modal {
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    background-color: $minor-color-background;
    padding: 1.75rem 2.5rem;
    border: 1px solid $minor-color;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: 1366px) {
      max-width: 280px;
      padding: 1.5rem 2rem;
    }

    .addNewListModal__TitleInput {
      width: 100%;
      padding: 0.65rem 0;
      font-size: 1.7rem;
      color: $theme-color;
      font-weight: 450;
      text-align: center;
      border: 1px solid $theme-color;
      border-radius: 5px;
      box-shadow: none;

      &:focus {
        border: none;
        outline: 2px solid $theme-color-light;
      }

      @media (max-width: 1366px) {
        font-size: 1.3rem;
      }
    }

    .addNewListModal__afterTitleInput {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;

      @media (max-width: 1366px) {
        margin-top: 0.6rem;
      }

      .addNewListModal__afterTitleInput__item {
        background-color: white;
        margin-left: 0.75rem;
        border: 1px solid $theme-color;
        border-radius: 2px;
        display: flex;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 1366px) {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.noList__flexContainer {
  display: flex;
  justify-content: center;

  .noList__flexItem {
    width: 1100px;
    padding: 16rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 1366px) {
      padding: 10rem;
    }

    @media (max-width: 601px) {
      padding: 6rem;
    }

    @media (max-width: 414px) {
      padding: 2rem;
    }
  }

  .noList__text {
    width: 100%;
    color: $theme-color;
    font-size: 2.25rem;
    font-weight: 450;
    text-align: center;
    margin: 0.5rem 0;

    @media (max-width: 1366px) {
      font-size: 1.75rem;
    }

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }

    @media (max-width: 436px) {
      font-size: 1.1rem;
    }
  }
}
