@charset "UTF-8";
.listsContainerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  margin-top: 1.25rem;
}
.listsContainerContainer .listsContainer {
  display: flex;
  overflow-x: auto;
  width: 100%;
  max-width: 1600px;
  margin-top: 0.8rem;
  scrollbar-width: thin;
  scrollbar-color: rgb(197, 177, 249) #f1f1f1;
}
@media (max-width: 1366px) {
  .listsContainerContainer .listsContainer {
    margin-top: 0;
  }
}

.sharelistContainer {
  display: flex;
  overflow-x: auto;
  width: 100%;
  justify-content: center;
  scrollbar-width: thin;
  scrollbar-color: rgb(197, 177, 249) #f1f1f1;
}

.listContainer {
  width: 100%;
  width: 350px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(197, 177, 249, 0.1);
  padding: 2rem 1.5rem;
  border: 1px solid rgb(197, 177, 249);
  margin: 0 0.3rem;
  min-height: 300px;
}
@media (max-width: 1366px) {
  .listContainer {
    width: 280px;
    min-height: 225px;
    padding: 1.5rem 1rem;
    margin: 0 0.2rem;
  }
}
.listContainer .listContainer__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
@media (max-width: 1366px) {
  .listContainer .listContainer__header {
    margin-bottom: 1.25rem;
  }
}
.listContainer .listContainer__header .listContainer__header__title {
  width: 100%;
  text-align: center;
  color: #8440f1;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 550;
}
@media (max-width: 1366px) {
  .listContainer .listContainer__header .listContainer__header__title {
    font-size: 1.5rem;
  }
}
.listContainer .listContainer__header .listContainer__header__title__noneditable {
  width: 100%;
  text-align: center;
  color: #8440f1;
  font-size: 1.9rem;
  font-weight: 550;
}
@media (max-width: 1366px) {
  .listContainer .listContainer__header .listContainer__header__title__noneditable {
    font-size: 1.5rem;
  }
}
.listContainer .listContainer__header .listContainer__header__title__editing {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.8rem;
  color: #8440f1;
  font-weight: 500;
  text-align: center;
  border: none;
  box-shadow: none; /* 移除陰影 */
}
@media (max-width: 1366px) {
  .listContainer .listContainer__header .listContainer__header__title__editing {
    font-size: 1.4rem;
  }
}
.listContainer .listContainer__header .listContainer__header__title__editing:focus {
  outline: 2px solid #ae81ff; /* 設置點擊時的外框 */
  border-radius: 5px;
  outline-offset: 1px; /* 外框與輸入框的距離 */
}
.listContainer .listContainer__header .listContainer__header__ellipsis__root {
  position: relative;
}
.listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisIcon {
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  cursor: pointer;
}
@media (max-width: 768px) {
  .listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisIcon {
    opacity: 1;
  }
}
.listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisIcon:hover {
  opacity: 1;
}
.listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisIcon.visible {
  opacity: 1;
}
.listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisModal {
  width: 120px;
  background-color: white;
  position: absolute;
  top: 200%;
  right: 0;
  border-radius: 5px;
  border: 1px solid rgb(197, 177, 249);
}
@media (max-width: 1366px) {
  .listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisModal {
    width: 90px;
  }
}
.listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisModal .listContainer__header__ellipsisModalItem {
  text-align: center;
  padding: 0.5rem 0.1rem;
  cursor: pointer;
  font-size: 1.3rem;
}
.listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisModal .listContainer__header__ellipsisModalItem:hover {
  color: white;
  background-color: #ae81ff;
}
@media (max-width: 1366px) {
  .listContainer .listContainer__header .listContainer__header__ellipsis__root .listContainer__header__ellipsisModal .listContainer__header__ellipsisModalItem {
    padding: 0.4rem 0.1rem;
    font-size: 1rem;
  }
}
.listContainer .movieItem {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.9rem 1rem;
  padding-left: 1.5rem;
  background-color: white;
  border: 1px solid rgb(197, 177, 249);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1366px) {
  .listContainer .movieItem {
    padding: 0.7rem 0.5rem;
    padding-left: 1rem;
  }
}
.listContainer .movieItem .movieItem__details {
  display: flex;
  align-items: center;
}
.listContainer .movieItem .movieItem__details .movieItem__details__serialNumber {
  background-color: white;
  color: #8440f1;
  border-radius: 50px;
  font-size: 1.4rem;
}
@media (max-width: 1366px) {
  .listContainer .movieItem .movieItem__details .movieItem__details__serialNumber {
    font-size: 1rem;
    margin-left: 0.2rem;
  }
}
.listContainer .movieItem .movieItem__details .movieItem__details__title {
  margin-left: 1.2rem;
  font-size: 1.4rem;
}
.listContainer .movieItem .movieItem__details .movieItem__details__title:hover {
  font-weight: 450;
  color: #8440f1;
}
@media (max-width: 1366px) {
  .listContainer .movieItem .movieItem__details .movieItem__details__title {
    margin-left: 1rem;
    font-size: 1.05rem;
  }
}
.listContainer .movieItem .movieItem__delete {
  opacity: 0;
  margin-left: 0.5rem;
  display: flex;
}
@media (max-width: 768px) {
  .listContainer .movieItem .movieItem__delete {
    opacity: 1;
  }
}
.listContainer .movieItem .movieItem__delete:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(197, 177, 249, 0.1);
}

.shareAllListsBtnContainer {
  position: relative;
}
.shareAllListsBtnContainer .shareAllListsBtn {
  margin-top: 3rem;
  border: 1.5px solid #8440f1;
  border-radius: 3px;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.shareAllListsBtnContainer .shareAllListsBtn:hover {
  color: #8440f1;
  font-weight: 550;
}
@media (max-width: 1366px) {
  .shareAllListsBtnContainer .shareAllListsBtn {
    margin-top: 2rem;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }
}

.notification {
  position: fixed;
  background-color: #ae81ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  top: 12%;
  left: 48%;
  transform: translateX(-48%); /* 水平位移讓元素居中 */
  margin-left: 1.25rem;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
  text-align: center;
}
@media (max-width: 1366px) {
  .notification {
    font-size: 1rem;
    top: 16%;
  }
}

.error {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  top: 12%;
  left: 48%;
  transform: translateX(-48%); /* 水平位移讓元素居中 */
  margin-left: 1.25rem;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
  text-align: center;
}
@media (max-width: 1366px) {
  .error {
    font-size: 1rem;
    top: 16%;
  }
}

.MovieItemDroppable {
  height: 80%;
}

.addNewlistArea {
  margin: 0 0.35rem;
  width: 100%;
  width: 350px;
  flex-shrink: 0;
  position: relative;
  min-height: 300px;
}
@media (max-width: 1366px) {
  .addNewlistArea {
    width: 280px;
    margin: 0 0.25rem;
    min-height: 225px;
  }
}
.addNewlistArea .addNewlistArea__Img {
  background-color: rgba(197, 177, 249, 0.1);
  padding: 0.2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.addNewlistArea .addNewlistArea__Img:hover {
  background-color: rgba(197, 177, 249, 0.3);
}
.addNewlistArea .addNewlistArea__modal {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  background-color: rgba(197, 177, 249, 0.1);
  padding: 1.75rem 2.5rem;
  border: 1px solid rgb(197, 177, 249);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1366px) {
  .addNewlistArea .addNewlistArea__modal {
    max-width: 280px;
    padding: 1.5rem 2rem;
  }
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__TitleInput {
  width: 100%;
  padding: 0.65rem 0;
  font-size: 1.7rem;
  color: #8440f1;
  font-weight: 450;
  text-align: center;
  border: 1px solid #8440f1;
  border-radius: 5px;
  box-shadow: none;
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__TitleInput:focus {
  border: none;
  outline: 2px solid #ae81ff;
}
@media (max-width: 1366px) {
  .addNewlistArea .addNewlistArea__modal .addNewListModal__TitleInput {
    font-size: 1.3rem;
  }
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__afterTitleInput {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
@media (max-width: 1366px) {
  .addNewlistArea .addNewlistArea__modal .addNewListModal__afterTitleInput {
    margin-top: 0.6rem;
  }
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__afterTitleInput .addNewListModal__afterTitleInput__item {
  background-color: white;
  margin-left: 0.75rem;
  border: 1px solid #8440f1;
  border-radius: 2px;
  display: flex;
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__afterTitleInput .addNewListModal__afterTitleInput__item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 1366px) {
  .addNewlistArea .addNewlistArea__modal .addNewListModal__afterTitleInput .addNewListModal__afterTitleInput__item {
    margin-left: 0.5rem;
  }
}

.noList__flexContainer {
  display: flex;
  justify-content: center;
}
.noList__flexContainer .noList__flexItem {
  width: 1100px;
  padding: 16rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1366px) {
  .noList__flexContainer .noList__flexItem {
    padding: 10rem;
  }
}
@media (max-width: 601px) {
  .noList__flexContainer .noList__flexItem {
    padding: 6rem;
  }
}
@media (max-width: 414px) {
  .noList__flexContainer .noList__flexItem {
    padding: 2rem;
  }
}
.noList__flexContainer .noList__text {
  width: 100%;
  color: #8440f1;
  font-size: 2.25rem;
  font-weight: 450;
  text-align: center;
  margin: 0.5rem 0;
}
@media (max-width: 1366px) {
  .noList__flexContainer .noList__text {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .noList__flexContainer .noList__text {
    font-size: 1.4rem;
  }
}
@media (max-width: 436px) {
  .noList__flexContainer .noList__text {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=watchlistMain.module.css.map */