.listsContainerContainer {
  display: flex;
  justify-content: center;
}
.listsContainerContainer .listsContainer {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  width: 100%;
  max-width: 1500px;
  padding: 1rem 0;
}

.addNewlistArea {
  margin: 0 0.25rem;
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  position: relative;
}
.addNewlistArea .addNewlistArea__Img {
  background-color: rgba(197, 177, 249, 0.1);
  padding: 0.2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.addNewlistArea .addNewlistArea__Img:hover {
  background-color: rgba(197, 177, 249, 0.3);
}
.addNewlistArea .addNewlistArea__modal {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  background-color: rgba(197, 177, 249, 0.1);
  padding: 1.25rem 2rem;
  border: 1px solid rgb(197, 177, 249);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 0);
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__TitleInput {
  width: 100%;
  padding: 0.75rem 0.5rem;
  font-size: 20px;
  color: #8440f1;
  font-weight: 550;
  text-align: center;
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__afterTitleInput {
  display: flex;
  justify-content: end;
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__afterTitleInput .addNewListModal__afterTitleInput__item {
  background-color: white;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #8440f1;
  border-radius: 2px;
}
.addNewlistArea .addNewlistArea__modal .addNewListModal__afterTitleInput .addNewListModal__afterTitleInput__item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.listContainer {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  border-radius: 5px;
  background-color: rgba(197, 177, 249, 0.1);
  padding: 1.5rem 1rem;
  border: 1px solid rgb(197, 177, 249);
  margin: 0 0.2rem;
}
.listContainer .listContainer__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.listContainer .listContainer__header .listContainer__header__title {
  width: 100%;
  text-align: center;
  color: #8440f1;
}
.listContainer .listContainer__header .listContainer__header__deleteListBtn {
  opacity: 0;
}
.listContainer .listContainer__header .listContainer__header__deleteListBtn:hover {
  opacity: 1;
  cursor: pointer;
}
.listContainer .movieItem {
  width: 100%;
  margin: 0.6rem 0;
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: white;
  border: 1px solid rgb(197, 177, 249);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listContainer .movieItem .movieItem__details {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.listContainer .movieItem .movieItem__details .movieItem__details__serialNumber {
  background-color: white;
  color: #8440f1;
  border-radius: 50px;
}
.listContainer .movieItem .movieItem__details .movieItem__details__title {
  padding: 0 1rem;
}
.listContainer .movieItem .movieItem__details .movieItem__details__OTTlink {
  color: #8440f1;
  padding: 0.15rem 0.3rem;
  height: 1.6rem;
  border-radius: 3px;
  border: 1px solid rgb(197, 177, 249);
  background-color: rgba(197, 177, 249, 0.1);
}
.listContainer .movieItem .movieItem__details .movieItem__details__OTTlink:hover {
  opacity: 0.8;
}
.listContainer .movieItem .movieItem__delete {
  opacity: 0;
}
.listContainer .movieItem .movieItem__delete:hover {
  opacity: 1;
  cursor: pointer;
}/*# sourceMappingURL=watchlistMain.module.css.map */